<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>login</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<h1>Vista Administrador</h1>
	<header>
	<form action="/users/admin" method="POST">
        <label for="name">Nombre:</label>
						<input type="text" name="user"  >
						<button type="submit"> Ingresar </button>
    </form>
	</header>
	<img src="/images/node.jpg" width="60%">
</body>
</html>